<!DOCTYPE html>
<html lang="en" ng-app="UploadApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Upload Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.js"></script>

    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="services/service.js"></script>

</head>
<body ng-controller="UploadCtrl as ctrl">
    <div style="padding: 30px">
        <form name="UploadForm" novalidate ng-submit="ctrl.upload()" autocomplete="off">
            <div class="form-group">
                <input type="file" id="file" ng-model="ctrl.imgFile" ngf-select accepts="image/*">
            </div>
            <div class="form-group" style="margin-bottom: 10px">
                <img ngf-thumbnail="ctrl.imgFile" width="100px">
            </div>
            <div class="form-group">
                <textarea ng-model="ctrl.comments" rows="10" cols="30"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Upload</button>
            </div>

            <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code" ng-class="{'alert-success': ctrl.status.code == 202,
                        'alert-danger': ctrl.status.code == 400}">
                <button class="close" data-dismiss="alert">&times; x</button>
                {{ctrl.status.message}}

            </div>
        </form>
    </div>

    <div class="form-group" style="margin:30px">
        <button ng-click="ctrl.download()" class="btn btn-primary">View All Images</button>
    </div>
    <div class="form-group" style="margin:30px" ng-repeat="item in ctrl.content">
        <p>{{item}}</p>
        <img ng-src="{{item}}" style="border:none; margin:15px;width:100px;height:100px;"/>
    </div>
</body>
</html>